.button-group {
    .icon {
        width: 30px;
        height: 20px;
        color: white;
        background-color: #409eff;
        border-radius: 5px;
        display: inline-block;
        text-align: center;
        margin: 10px;
        cursor: pointer;
        &.disabled {
            opacity: .6;
            cursor: not-allowed;
        }
    }
}